version: "3.8"

services:
  backend:
    image: azizchniti0410/baston-backend:latest
    container_name: baston-backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - SUPABASE_URL=https://dgdoitwzewaczbagciuk.supabase.co
      - SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
      - JWT_SECRET=B0pk3q01Wn4zhIxoWFhBuR3z9jtX2mH5...
      - SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6...
    restart: always
